body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 30px;
}

body {
    padding: 20px;
    background-color: #0044A9;
    color: #FFF;
}

.scores {
    display: inline-block;
    width: 240px;
    float: left;
}
    .scores > .box {
        display: inline-block;
        width: 100%;
        padding: 10px;
        border: 5px solid #FFF;
    }
        .scores > .box+.box {
            margin-top: 40px;
        }
        .scores > .box > .title {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .scores > .box > .value {
            display: inline-block;
            width: 100%;
            
        }

    .board-container {
        display: inline-block;
        width: calc(100% - 520px);
        height: calc(100vh - 80px);
        margin: 0 40px;
        float: left;
    }
        .board-container > .board {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            position: relative;
        }
            .board-container > .board > .background {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-color: #606060;
                position: absolute;
                top: 0;
                left: 0;
            }
                .board-container > .board > .background > .cell {
                    display: inline-block;
                    border: 1px solid #000;
                    float: left;
                }
            .board-container > .board > .figure-layer {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
            }
            .board-container > .board > .active-figure {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
            }
            .active-figure > .figure {
                display: inline-block;
            }
                .active-figure > .figure > .figure-cell {
                    display: inline-block;
                    float: left;
                }
                .figure.figure-o > .figure-cell {
                    background-color: yellow;
                }
                .figure.figure-i > .figure-cell {
                    background-color: aqua;
                }
                .figure.figure-t > .figure-cell {
                    background-color: violet;
                }
                .figure.figure-j > .figure-cell {
                    background-color: orange;
                }
                .figure.figure-l > .figure-cell {
                    background-color: blue;
                }
                .figure.figure-s > .figure-cell {
                    background-color: green;
                }
                .figure.figure-z > .figure-cell {
                    background-color: red;
                }
                .figure > .figure-empty-cell {
                    background-color: transparent !important;
                }

    .other {
        display: inline-block;
        width: 200px;
        float: left;
    }